---
import '../styles/global.css';

---

<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>椛</title>
	</head>
	<body>
		<div class="hero">
  			<div class="hero-content">
    			<h1>OI Wiki</h1>
    			<p>tip:这图表示了你站开发人员的智商</p>
  			</div>
		</div>
	</body>
</html>
